# -*- coding: utf-8, tab-width: 2 -*-

CFG[early_file:'etc/default/keyboard']='
  XKBMODEL="pc105"
  XKBLAYOUT="de"
  XKBVARIANT="deadgraveacute"
  XKBOPTIONS=""
  '

CFG[early_file:'etc/default/locale']='
  LANG="en_US.UTF-8"
  LC_TIME="de_DE.UTF-8"
  ' || return $?




return 0
